{% extends 'base.html.twig' %}

{% block title %}
    Wish details | {{parent()}}
{% endblock %}

{% block body %}
    <h2>{{ wish.title}} | {{ wish.category.name }}</h2>
    <div>What is your wish about : {{ wish.description }}</div>
    <div>Created by : {{ wish.author }}</div>
    <div>on {{ wish.dateCreated | date('Y-m-d')}}</div>

{% endblock %}

