<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Bienvenue chez les Bucket Lists{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('css/app.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@300;500&display=swap" rel="stylesheet">

    <link rel="icon" href="{{ asset('img/favicon.png') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1 class="header-logo">
                <a href="{{ path('main_home') }}" title="Home">
                <img src="{{ asset('img/logo.svg') }}" alt="logo bucket">Bucket-List</a>
            </h1>
            {% include('inc/nav.html.twig') %}
        </div>
    </header>

    <main>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </main>

    <footer>
        <div class="container">&copy;Bucket-List {{ "now"|date("Y") }}</div>
    </footer>

</body>
</html>